.sdg-target-tag-list {
  @extend %tags;

  a {
    color: $white;

    @each $code, $color in $sdg-colors {
      &[data-code^="#{$code}"] {
        background-color: $color;

        &:hover {
          background-color: darken($color, 10%);
        }
      }
    }
  }
}
